doctype html
html(lang="en")
  head
    title Nodes Manager
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.5.2/semantic.css")
    script(src="https://code.jquery.com/jquery-2.1.3.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js")
  body
    div.ui.button
    script(type="text/jsx" src="app.jsx")
