doctype html
html(lang="en" ng-app="app")
  head
    title Nodes Manager
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.5.2/semantic.css")
    script(src="https://code.jquery.com/jquery-2.1.3.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js")
    script(src="https://cdn.socket.io/socket.io-1.2.1.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js")
    script(src="app.js")
    script(src="services.js")
    script(src="controllers.js")
  body
    .ui.raised.segment
      .ui.grid
        .one.wide.column
          span#startInit
        .one.wide.column
          span#stopAll
        .four.wide.column
          span#startNode
        .four.wide.column
          span#stopNode
        .six.wide.column
          .ui.segment#commandList
    .ui.segment
      .ui.header Processes
      .ui.mini.celled.list#processes(ng-controller="ProcessesCtrl")
        .item(ng-repeat="(key, proc) in processes.data")
          .ui.left.floated.ui.red.compact.button(ng-click="restartNode(key)") RESTART
          .ui.left.floated.ui.red.compact.button(ng-click="stopNode(key)") STOP
          .ui.right.attached.tiny.button(ng-click="showLogs = !showLogs") Logs
          .ui.small.header {{proc.name}} | PID {{key}}
          .content
            pre OUT: {{proc.stdout.time | date:'mediumTime'}}:{{proc.stdout.data}}
            pre(ng-show="proc.stderr") ERROR: {{proc.stderr}}
          pre(ng-show="showLogs") {{processes.stringHistory[key]}}
          //- div(ng-show="showLogs")
          //-   .ui.small.header Logs
          //-   .ui.huge.list
          //-     .item(ng-repeat="stdout2 in processes.history[key] | orderBy:'time':'true'") {{stdout2.time | date:'mediumTime'}}:  {{stdout2.data}}
    script(type="text/jsx" src="commands.jsx")
    script(type="text/jsx" src="controls.jsx")
